.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.mt-60 {
  margin-top: 60px;
}
.pt-80 {
  padding-top: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.container {
  max-width: 83%;
  margin: 0 auto 0 auto;
}

.cinza-vale {
  color: #747678;
}

.text-bold {
  font-weight: 700;
}

.line-height-25 {
  line-height: 25px;
}

.footer-logo {
  width: 400px;
}

.border {
  border: 1px solid #CCCCCC;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.w-100 {
  width: 100%;
}
